* {
    margin: 0px;
    font-family: 'Lexend Deca', sans-serif;
}
.bg{    
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.filter{
    
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
   display: block;
    padding-left: 50px;
    margin-bottom: 20px;
}
.disp-text{
  font-size: 45px;
font-family: 'Lexend Deca', sans-serif;
    padding: 128px 128px 0px 32px;
    color: #FFFFFF;

    height: auto;
   text-align: center;
    
}
.search{
    padding: 16px;

}
.search > input{
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 25px;
    border-width: 0px;
    outline: none;
    padding: 8px 08px 8px 16px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #eee;
    padding: 0px;
    display: inline-flex;
}
.logo{
    height: 100%;
    width:70%;
    padding-left: 32px;
    padding-top: 0px;
    font-size: 25px;
    text-align: center;
    display: inline-flex;
}
.logo > img {
    height: 70%;
    margin-right: 10px;
    margin-top: 16px;
    margin: 8px;
}
.logo > p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}
.head{
    width: 30%;
    color: #000000;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 16px;
    display: flex;

}
.head > p {
    color: black;
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
}
.head > p:hover{
    color: #536DFE;
}
.dropdown{
    
    height: 50px;
       position: relative;
  display: inline-block;
}
.dropdown-content {
    border-radius: 15px;
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
    border-radius: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn {
    margin-top: 8px;
    border-radius: 15px;
  background-color:black;
  color: white;
  padding: 8 14 8 14;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.dropdown-content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #757575;
}
.footer{
    width: 100%;
    background-color: silver;
    padding: 8 0 8 0;
    font-size: 15px;
    color: black;
    bottom: 0px;
}
.main-con{
    padding: 120 10 10 50;
}
.sub-heading{
    font-size: 20px;
}
.main-con a{
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 20px;
    margin: 20 10 0 10;
    border-radius: 10px;
     margin-top: 50px;
    text-decoration: none;
    border: 2px solid black;
}
.main-con button{
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 20px;
    margin: 20 10 0 10;
    border-radius: 10px;
     margin-top: 50px;
    text-decoration: none;
}

.main-con button:hover{
   
background-color: white;
    color: black;
    border: 2px solid black;
}
.main-con a:hover{
   
background-color: white;
    color: black;
    border: 2px solid black;
}
.main-con h1{
    padding: 16 16 16 0;
}
.links{
    padding: 16px;
    text-align: center;
}
.links-a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.links-a:hover{
    color: silver;
}
.wait{
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
}